In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\mani\Downloads\phone_data.csv")

In [3]:
df

     index            date   duration  item    month    network network_type
0        0  15/10/14 06:58     34.429  data  2014-11       data         data
1        1  15/10/14 06:58     13.000  call  2014-11   Vodafone       mobile
2        2  15/10/14 14:46     23.000  call  2014-11     Meteor       mobile
3        3  15/10/14 14:48      4.000  call  2014-11      Tesco       mobile
4        4  15/10/14 17:27      4.000  call  2014-11      Tesco       mobile
5        5  15/10/14 18:55      4.000  call  2014-11      Tesco       mobile
6        6  16/10/14 06:58     34.429  data  2014-11       data         data
7        7  16/10/14 15:01    602.000  call  2014-11      Three       mobile
8        8  16/10/14 15:12   1050.000  call  2014-11      Three       mobile
9        9  16/10/14 15:30     19.000  call  2014-11  voicemail    voicemail
10      10  16/10/14 16:21   1183.000  call  2014-11      Three       mobile
11      11  16/10/14 22:18      1.000   sms  2014-11     Meteor       mobile
12      12  16/10/14 22:21      1.000   sms  2014-11     Meteor       mobile
13      13  17/10/14 06:58     34.429  data  2014-11       data         data
14      14  17/10/14 10:53      1.000   sms  2014-11      Tesco       mobile
15      15  17/10/14 11:19      1.000   sms  2014-11      Tesco       mobile
16      16  17/10/14 11:20      1.000   sms  2014-11     Meteor       mobile
17      17  17/10/14 17:22      1.000   sms  2014-11   Vodafone       mobile
18      18  17/10/14 17:23      1.000   sms  2014-11   Vodafone       mobile
19      19  17/10/14 17:26     92.000  call  2014-11      Three       mobile
20      20  17/10/14 17:29      4.000  call  2014-11   Vodafone       mobile
21      21  17/10/14 17:30    375.000  call  2014-11      Tesco       mobile
22      22  17/10/14 17:42      1.000   sms  2014-11   Vodafone       mobile
23      23  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
24      24  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
25      25  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
26      26  18/10/14 06:58     34.429  data  2014-11       data         data
27      27  18/10/14 11:51    783.000  call  2014-11      Tesco       mobile
28      28  18/10/14 12:06      4.000  call  2014-11   Vodafone       mobile
29      29  18/10/14 12:06      3.000  call  2014-11   Vodafone       mobile
..     ...             ...        ...   ...      ...        ...          ...
800    800  02/03/15 14:53      2.000  call  2015-03  voicemail    voicemail
801    801  02/03/15 14:54     93.000  call  2015-03  voicemail    voicemail
802    802  02/03/15 17:35    192.000  call  2015-03     Meteor       mobile
803    803  02/03/15 20:48     34.000  call  2015-03      Tesco       mobile
804    804  03/03/15 06:58     34.429  data  2015-03       data         data
805    805  03/03/15 09:57     76.000  call  2015-03   landline     landline
806    806  03/03/15 09:59    355.000  call  2015-03      Three       mobile
807    807  03/03/15 10:12    745.000  call  2015-03   Vodafone       mobile
808    808  03/03/15 10:27     57.000  call  2015-03   Vodafone       mobile
809    809  03/03/15 14:34   1325.000  call  2015-03   Vodafone       mobile
810    810  03/03/15 18:36    768.000  call  2015-03      Three       mobile
811    811  04/03/15 06:58     34.429  data  2015-03       data         data
812    812  04/03/15 07:02      1.000   sms  2015-03   Vodafone       mobile
813    813  04/03/15 07:16      1.000   sms  2015-03   Vodafone       mobile
814    814  04/03/15 10:30      1.000   sms  2015-03      Three       mobile
815    815  04/03/15 10:30      1.000   sms  2015-03      Three       mobile
816    816  04/03/15 12:29  10528.000  call  2015-03   landline     landline
817    817  05/03/15 06:58     34.429  data  2015-03       data         data
818    818  06/03/15 06:58     34.429  data  2015-03       data         data
819    819  07/03/15 06:58     34.429  data  2015-03       data         data
820    820  08/03/15 06:58     34.429  data  2015-03       data         data
821    821  09/03/15 06:58     34.429  data  2015-03       data         data
822    822  10/03/15 06:58     34.429  data  2015-03       data         data
823    823  11/03/15 06:58     34.429  data  2015-03       data         data
824    824  12/03/15 06:58     34.429  data  2015-03       data         data
825    825  13/03/15 00:38      1.000   sms  2015-03      world        world
826    826  13/03/15 00:39      1.000   sms  2015-03   Vodafone       mobile
827    827  13/03/15 06:58     34.429  data  2015-03       data         data
828    828  14/03/15 00:13      1.000   sms  2015-03      world        world
829    829  14/03/15 00:16      1.000   sms  2015-03      world        world

[830 rows x 7 columns]

In [4]:
print(f"The longest phone call/data entrty is {max(df.duration)}")

The longest phone call/data entrty is 10528.0

In [5]:
print(f"phone calls are recorded in total {df[df.item=='call'].duration.sum()} second")

phone calls are recorded in total 92321.0 second

In [6]:
lst1=df.month

In [7]:
lst1=list(lst1)

In [8]:
lst=set(df.month)

In [9]:
type(lst)

set

In [10]:
lst

{'2014-11', '2014-12', '2015-01', '2015-02', '2015-03'}

In [11]:
lst=list(lst)

In [12]:
for i in range(len(lst)):
    print(f"In {lst[i]} Data enteries are {lst1.count(lst[i])}")

In 2014-11 Data enteries are 230
In 2015-01 Data enteries are 205
In 2015-03 Data enteries are 101
In 2014-12 Data enteries are 157
In 2015-02 Data enteries are 137

In [13]:
df.groupby("month").index.count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: index, dtype: int64

In [16]:
len(df.groupby("network"))

9

In [ ]:
df.groupby("month").

In [17]:
df.groupby("month").duration.sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [19]:
df.groupby("month").date.count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [22]:
df.groupby("network")[df.item=="call"].duration.sum()

KeyError: 'Columns not found: False, True'